#section-about {
  height: auto;
  margin: 30px 0;
  background: url("../../assets/images/pattern-2.png") no-repeat left top;
  background-size: 50%;

  .base-img {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
  }

  .image-2 {
    position: absolute;
    top: 35%;
    left: -6%;
  }

  .image-3 {
    position: absolute;
    top: 60%;
    left: 50%;
  }

  .about-info {

    h4{
      text-align: start !important;
    }

    p {
      @extend .fs-18,
      .mb-36,
      .text-dark-grey,
      .family-secondary;
    }

    .signature {
      width: 140px;
      height: 100px;
    }

    a {
      @include btn(10px, 30px, #1370B5);
      @extend .family-primary,
      .fw-600,
      .transition;
      box-shadow: 0 0 10px rgba(19, 112, 181, 0.3);

      &:hover {
        background-color: #fff;
        color: #1370b5;
      }
    }
  }
}

@media (max-width:768px) {
  #section-about{
    .section-head {
      h4 {
        text-align: center !important;
      }
    }
  }
}